.finity-fund {
    &__title-item {
        background: linear-gradient(149deg, #b2ff0f 0%, #76ffef 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}